/* ===== RESET ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ===== BODY ===== */

body{
    background:#F4EFE6;
    background-image:linear-gradient(to bottom,#F8F5EF,#F4EFE6);
    color:#2E2E2E;
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    font-size:16px;
    line-height:1.7;
}
/* ===== MENU ===== */

.navbar{
    background:#1C1C1C;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:35px;
    padding:14px 20px;
    padding-left:35px;
    border-bottom:1px solid #444;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar a{
    color:#F5F5F5;
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    transition:.30s;
}

.navbar a:hover{
    color:#D6B36A;
}

/* ===== LOGO ===== */

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:48px;
    width:auto;
    display:block;
}

/* ===== CONTENU ===== */

.contenu{
    width:90%;
    max-width:1050px;
    margin:auto;
    padding:20px 20px 40px;
}
/* ===== BANNIERE ===== */

.banniere{
    width:100%;
    height:auto;
    display:block;
    margin:0 auto 35px;
    border-radius:12px;
}

/* ===== TITRES ===== */

h1{
    font-size:24px;
    font-weight:700;
    letter-spacing:-0.3px;
}

h2{
    font-size:16px;
    font-weight:600;
    letter-spacing:-0.2px;
}

    
/* ===== PARAGRAPHES ===== */

p{
    font-size:15px;
    color:#444;
    line-height:1.7;
    margin-bottom:16px;
    text-align:justify;
}

/* ===== LISTES ===== */

ul{
    margin-left:25px;
    line-height:1.9;
}

li{
    margin-bottom:8px;
}
/* ===== BOUTONS ===== */

.bouton{
    display:inline-block;
    background:#1C1C1C;
    color:white;
    padding:12px 26px;
    text-decoration:none;
    border-radius:8px;
    font-size:15px;
    transition:.30s;
}

.bouton:hover{
    background:#D6B36A;
    color:#1C1C1C;
}
/* ===== CARTES ===== */

.carte{
    background:#FCFAF6;
    border:1px solid #E8DFD2;
    border-radius:16px;

    width:100%;
    max-width:700px;

    margin:24px auto;

    padding:22px 24px;

    box-shadow:0 8px 24px rgba(0,0,0,.07);

    transition:transform .25s ease, box-shadow .25s ease;
}

.carte:hover{
    transform:translateY(-2px);
    box-shadow:0 12px 30px rgba(0,0,0,.10);
}

.carte img{
    width:75%;
    display:block;
    margin:0 auto 20px;
}
/* ===== FOOTER ===== */

footer{
    background:#1C1C1C;
    color:#DDD;
    text-align:center;
    padding:25px;
    margin-top:60px;
    font-size:14px;
}
/* ===== MOBILE ===== */

@media(max-width:768px){

.navbar{
    flex-direction:column;
    gap:15px;
}

.contenu{
    width:95%;
    padding:20px 15px;
}

.banniere{
    width:100%;
}

h1{
    font-size:22px;
}

h2{
    font-size:17px;
}
h3{
    font-size:15px;
}

p{
    font-size:14px;
}

img{
    max-width:100%;
    height:auto;
}

}
