<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<a href="/" class="logo">
<img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
</a>

<a href="/">Accueil</a>
<a href="/fonctionnalites">Fonctionnalités</a>
<a href="/realisations">Exemples de sites</a>
<a href="/projet">Votre site</a>
<a href="/contact">Contact</a>

</nav>

<div class="contenu">

<img src="{{ url_for('static', filename='image/banniere.png') }}" class="banniere">

<h1>Contact</h1>

<p>

Vous avez un projet de site internet ou d'application web ?

Nous serons ravis d'échanger avec vous afin d'étudier votre projet et de vous proposer une solution entièrement personnalisée.

</p>

<br>

<h2>Studio Web & Applications</h2>

<p>

Développement de sites internet et d'applications web sur mesure.

</p>

<br>

<a class="bouton"
href="mailto:studio.web.applications@gmail.com">

📧 Contacter Studio Web & Applications

</a>

<br><br>

<a class="bouton"
href="https://studio-web-applications.onrender.com"
target="_blank">

🌐 Visiter le site Studio Web & Applications

</a>

</div>

<br><br>

<br><br>

<br><br>

<footer>

© 2026 Studio Web & Applications - Site de démonstration

</footer>

</body>

</html>
