<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Fonctionnalités</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<a href="/" class="logo">
<img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
</a>

<a href="/">Accueil</a>
<a href="/fonctionnalites">Fonctionnalités</a>
<a href="/realisations">Exemples de sites</a>
<a href="/projet">Votre site</a>
<a href="/contact">Contact</a>

</nav>

<div class="contenu">

<img src="{{ url_for('static', filename='image/banniere.png') }}" class="banniere">

<h1>Des fonctionnalités adaptées à votre activité</h1>

<p>
Chaque entreprise possède des besoins différents.
Votre site internet est entièrement développé sur mesure avec les fonctionnalités dont vous avez réellement besoin.
</p>

<div class="carte">

<h2>🌐 Site internet professionnel</h2>

<p>

Création d'un site moderne, rapide et entièrement compatible avec les ordinateurs, tablettes et smartphones.

</p>

</div>

<div class="carte">

<h2>⚙️ Fonctionnalités disponibles</h2>

<ul>

<li>📅 Réservation en ligne</li>

<li>🛒 Boutique e-commerce</li>

<li>💳 Paiement sécurisé</li>

<li>📷 Galerie photos</li>

<li>📍 Google Maps</li>

<li>📰 Actualités</li>

<li>👤 Espace client</li>

<li>📧 Contact par e-mail</li>

<li>📈 Référencement Google</li>

<li>☁ Hébergement</li>

<li>🛠 Maintenance</li>

<li>📱 Applications web personnalisées</li>

</ul>

</div>

<div class="carte">

<h2>🚀 Une solution évolutive</h2>

<p>

Votre activité évolue ?

Votre site évolue avec elle.

De nouvelles fonctionnalités peuvent être ajoutées à tout moment sans reconstruire entièrement votre projet.

</p>

<br>

<a class="bouton" href="/realisations">

Voir quelques exemples

</a>

</div>

</div>

<br><br>

<br><br>

<br><br>

<footer>

© 2026 Studio Web & Applications - Site de démonstration

</footer>

</body>

</html>
