<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Votre site</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<a href="/" class="logo">
<img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
</a>

<a href="/">Accueil</a>
<a href="/fonctionnalites">Fonctionnalités</a>
<a href="/realisations">Exemples de sites</a>
<a href="/projet">Votre site</a>
<a href="/contact">Contact</a>

</nav>

<div class="contenu">

<img src="{{ url_for('static', filename='image/banniere.png') }}" class="banniere">

<h1>Votre site, entièrement sur mesure</h1>

<p>
Chaque entreprise est différente. C'est pourquoi chaque site internet est conçu selon vos besoins, votre activité et votre identité visuelle.
</p>

<div class="carte">

<h2>🎨 Un design qui vous ressemble</h2>

<p>

Votre logo, vos couleurs, vos textes et vos images sont intégrés afin de créer un site unique, fidèle à votre image.

</p>

</div>

<div class="carte">

<h2>🛠 Développement personnalisé</h2>

<ul>

<li>✔ Site vitrine</li>

<li>✔ Boutique en ligne</li>

<li>✔ Réservation</li>

<li>✔ Paiement sécurisé</li>

<li>✔ Galerie photos</li>

<li>✔ Applications web</li>

<li>✔ Référencement Google</li>

<li>✔ Hébergement</li>

<li>✔ Maintenance</li>

</ul>

</div>

<div class="carte">

<h2>🚀 Un projet évolutif</h2>

<p>

Votre activité évolue avec le temps.
Votre site peut être enrichi à tout moment avec de nouvelles fonctionnalités sans repartir de zéro.

</p>

<br>

<a class="bouton" href="/contact">

Parler de votre projet

</a>

</div>

</div>

<br><br>

<br><br>

<br><br>

<footer>

© 2026 Studio Web & Applications - Site de démonstration

</footer>

</body>

</html>
