<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Exemples de sites</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<a href="/" class="logo">
<img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
</a>

<a href="/">Accueil</a>
<a href="/fonctionnalites">Fonctionnalités</a>
<a href="/realisations">Exemples de sites</a>
<a href="/projet">Votre site</a>
<a href="/contact">Contact</a>

</nav>

<div class="contenu">

<img src="{{ url_for('static', filename='image/banniere.png') }}" class="banniere">

<h1>Quelques exemples de réalisations</h1>

<p>
Découvrez quelques exemples de sites internet et d'applications développés sur mesure.
Chaque projet est entièrement personnalisé selon les besoins du client.
</p>

<div class="carte">

<img src="{{ url_for('static', filename='image/image_demohebergement.png') }}">

<h2>🏡 Démonstration - Hébergement touristique</h2>

<p>
Exemple d'un site internet destiné à un hébergement touristique.
Réservation en ligne, calendrier de disponibilité, galerie photos et différentes solutions de paiement peuvent être intégrées selon les besoins du client.
</p>

<a class="bouton"
href="https://site-de-demonstration-hebergement.onrender.com/"
target="_blank">

Voir la démonstration

</a>

</div>

<div class="carte">

<img src="{{ url_for('static', filename='image/image_slmultiservices.png') }}">

<h2>🔨 S.L Multi Services</h2>

<p>
Site internet réalisé entièrement sur mesure pour une entreprise de multiservices.
Le design et les fonctionnalités ont été adaptés aux besoins de son activité.
</p>

<a class="bouton"
href="https://s-l-multi-services.onrender.com"
target="_blank">

Voir le site

</a>

</div>

<div class="carte">

<img src="{{ url_for('static', filename='image/image_cotauto.png') }}">

<h2>🚗 Cot' Auto</h2>

<p>
Application web professionnelle destinée aux intermédiaires de l'automobile.
Développement d'un algorithme de cotation et d'une interface entièrement personnalisée.
</p>

<a class="bouton"
href="https://cot-auto.onrender.com"
target="_blank">

Découvrir l'application

</a>

</div>

</div>

<br><br>

<br><br>

<br><br>

<footer>

© 2026 Studio Web & Applications - Site de démonstration

</footer>

</body>

</html>
